<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>
    Change Access Token
  </title>
</head>
<body>
  <form method="POST" action="/change-access-token">
    <label for="access-token-input">
      New Access Token
      <input type="text" id="access-token-input" name="access_token">
    </label>
    <label for="change-token-password">
      Change Token Password
      <input type="password" id="change-token-password" name="password">
    </label>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
