<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>
    Change Access Token
  </title>
</head>
<body>
  <form method="POST" action="/authorize">
    <label for="change-token-password">
      Change Token Password
      <input type="password" id="change-token-password" name="password" autocomplete="off">
    </label>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
