<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>
    Change Access Token
  </title>
</head>
<body>
  <form method="POST" action="/change-access-token">
    <input type="text" name="access_token">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
